{% extends 'base.html.twig' %}

{% block title %}Cities in {{ country }}|{{ parent() }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

{#TODO: add image of city #}

<div>
  Cities of country {{ country }}:
    <ul>
        {% for city in cities %} 
        <li><span class="city-name">{{city.name|upper}}</span> Population: {{city.population}}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}